.navbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar span {
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 20px;
}

.navbar a:hover {
    color: black;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}